<launch>

  <arg name="3d_sensor"  default="$(optenv ARLOBOT_3D_SENSOR)"/>

  <arg name="arlobot_model" value="$(optenv ARLOBOT_MODEL default)" />
  <arg name="urdf_file" default="xacro --inorder '$(find arlobot_description)/urdf/common_$(arg arlobot_model).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <include file="$(find arlobot_bringup)/launch/mobile_base.launch.xml" />
  <include file="$(find arlobot_safety)/launch/arlobot_safety.launch" />
  <include file="$(find arlobot_usbrelay)/launch/arlobot_usbrelay.launch" />
</launch>
