*.pyc
/Propeller\ C\ Code\ for\ ArloBot/cmm/
/bin
/docs
/lib
/build
/devel
.idea
src/CMakeLists.txt
node/node_modules/
node/build/
scripts/mjpg-streamer/
node/public/lcars/
node/public/xscreen.png
node/public/xscreenOld.png
server/node_modules/
website/node_modules/
website/typings/
website/app/*.js
website/app/*.js.map
