*.pyc
/bin
/docs
/lib
/build
/devel
.idea
src/CMakeLists.txt
node/node_modules/
node/build/
scripts/mjpg-streamer/
node/webserver/public/xscreen.png
node/webserver/node_modules/
node/webserver/public/lcars/
