dist: xenial
notifications:
  email:
    on_success: change
    on_failure: always
matrix:
  include:
    - language: minimal
      name: "Kinetic Robot Setup Script"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      script:
        - ./setup-kinetic.sh

    - language: node_js
      name: "Node Scripts"
      node_js: "lts/*"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      before_install:
        - mkdir -p ~/.arlobot/rosmaps ~/catkin_ws/src
        - touch ~/.arlobot/rosmaps/dummymap.pgm ~/.arlobot/rosmaps/dummymap.yaml
        - cp scripts/dotarlobot/personalDataForBehavior.json ~/.arlobot/
        - ln -s ${TRAVIS_BUILD_DIR} ~/catkin_ws/src/ArloBot
        - cd node

    - language: node_js
      name: "Node Code Coverage"
      node_js: "lts/*"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      before_install:
        - mkdir -p ~/.arlobot/rosmaps ~/catkin_ws/src
        - touch ~/.arlobot/rosmaps/dummymap.pgm ~/.arlobot/rosmaps/dummymap.yaml
        - cp scripts/dotarlobot/personalDataForBehavior.json ~/.arlobot/
        - ln -s ${TRAVIS_BUILD_DIR} ~/catkin_ws/src/ArloBot
        - cd node
      install:
        - npm install -g istanbul codecov
      script:
        - npm ci
        - istanbul cover ./node_modules/jasmine/bin/jasmine.js
        - codecov

    - language: node_js
      name: "React Website"
      node_js: "lts/*"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      script:
        - npm test
        - npm run build
      before_install:
        - cd website

    - language: minimal
      name: "Cosmic Workstation Setup"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      services:
        - docker
      before_install:
        - docker pull ubuntu:18.10
      script:
        - docker run -ti -e TRAVIS=${TRAVIS} -v $PWD:/home/user ubuntu:18.10 /bin/bash -c "/home/user/workstation-melodic-on-cosmic.sh"

    - language: minimal
      name: "Melodic Workstation via x11docker Setup"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      services:
        - docker
      before_install:
        - docker pull ubuntu:18.10
      script:
        - docker run -ti -e TRAVIS=${TRAVIS} -v $PWD:/home/user ubuntu:19.10 /bin/bash -c "/home/user/workstation-melodic-via-x11docker.sh"

    - language: minimal
      name: "Melodic Robot Setup Script Beta Test"
      cache:
        directories:
          - ~/.npm
          - ~/.cache
      services:
        - docker
      before_install:
        - docker pull ubuntu:18.04
      script:
        - docker run -ti -e TRAVIS=${TRAVIS} -v $PWD:/home/user ubuntu:18.04 /bin/bash -c "/home/user/setup-melodic-test-DO_NOT_USE.sh"
