/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    background-color: black;
    margin: 10px;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    cursor: pointer;
    cursor: hand;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.router-link-active {
    color: #039be5;
}

/* items class */
.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}

.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.items li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}

.items .text {
    position: relative;
    top: -3px;
}

.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}

.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.items li.selected {
    background-color: #CFD8DC;
    color: white;
}

.items li.selected:hover {
    background-color: #BBD8DC;
}

.items .text {
    position: relative;
    top: -3px;
}

.items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* For lcarish toggle buttons */
.lcarish-toggle-button {
    /*height: 100%;*/
    /* font: 100%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif; */
    /*-webkit-font-smoothing: antialiased;*/
}

.toggle, .toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.toggler {
    color: slategray;
    font-weight: bold;
    transition: .2s;
}

.toggler--is-active {
    color: #f90;
}

.brightly-negative-text {
    color: #f90
}

.brightly-positive-text {
    color: #99f
}

.toggler--is-inactive {
    color: #99f;
}

.b {
    display: block;
    text-align: center;
    padding: 4px;
}

.toggle {
    margin: 1px;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: 125px;
    height: 35px;
    border-radius: 100px;
    background-color: #7B8994;
    /*overflow: hidden;*/
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05);
}

.toggle-off {
    background-color: #99f;
}

.toggle-on {
    background-color: #f90;
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked ~ .switch {
    right: 2px;
    left: 37.5%;
    transition: .25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .08s, 0s;
}

.switch {
    font-weight: bold;
    color: #3D464D;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 37.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.check:checked ~ .reverseSwitch {
    left: 2px;
    right: 37.5%;
    transition: .25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .08s, 0s;
}

.reverseSwitch {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    left: 37.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#statusScrollBox {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 10px;
    background: black;
    padding: 0;
    padding-left: 5px;
    color: white;
}

.decorative-border {
    background: #99f;
    padding: 10px;
    border-radius: 32px;
    color: black;
}

#status-line {
    margin-left: 10px;
}

#footer-line {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 8px;
}

.btn {
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-tight {
    margin: 0;
}

#virtual-joystick-container {
    width: 100%;
    height: 480px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.robot-offline {
    text-align: center;
    font-weight: bold
}

.card-header {
    cursor: pointer;
}

.card-title {
    margin: 0;
}

#say-something {
    line-height: 29px;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.no-flex {
    flex: none;
}

.robot-said-text {
    margin: 10px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.robot-said-text p {
    margin: 0;
}

.behavior-buttons {
    margin-top: 10px;
}