#virtual-joystick-container {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 480px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}
