<launch>
  <!-- velocity commands multiplexer -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out"  to="cmd_vel"/>
    <rosparam file="$(find arlobot_ros)/param/mux.yaml" command="load"/>
    <rosparam file="$(find arlobot_ros)/param/twist_mux_locks.yaml" command="load"/>
  </node>
</launch>