<!--This is only here as an example and for testing, it not used by the project.-->
<launch>
  <include file="$(find arlobot_ros)/launch/3dsensor.launch">
    <arg name="ir_processing" value="false"/>
    <arg name="depth_processing" value="false"/>
    <arg name="depth_registered_processing" value="false"/>
    <arg name="disparity_processing" value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="scan_processing" value="true"/>
    <!--    kinect, asus_xtion_pro, astra -->
    <arg name="3d_sensor" value="asus_xtion_pro"/>
  </include>
</launch>
