<launch>
  <arg name="usb_port" value="$(optenv USB_PORT)"/>
  <arg name="acquisition_angular_z" value="$(optenv ACQUISITION_ANGULAR_Z)"/>
  <arg name="approach_angular_z" value="$(optenv APPROACH_ANGULAR_Z)"/>
  <arg name="linear_x" value="$(optenv LINEAR_X)"/>

  <!-- Serial Port listener -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="false">
    <param name="port" value="$(arg usb_port)"/>
  </node>

  <!-- ROS Receiver -->
  <node pkg="arlobot_ros" type="autodocking_irCode" name="autodocking_irCode">
    <param name="acquisition_angular_z" value="$(arg acquisition_angular_z)"/>
    <param name="approach_angular_z" value="$(arg approach_angular_z)"/>
    <param name="linear_x" value="$(arg linear_x)"/>
  </node>
</launch>
