<launch>

  <arg name="3d_sensor"  default="$(optenv ARLOBOT_3D_SENSOR kinect)"/>

  <include file="$(find arlobot_ros)/launch/includes/publish_robot_model.xml"/>

  <include file="$(find arlobot_ros)/launch/mobile_base.launch.xml" />
  <include file="$(find arlobot_ros)/launch/arlobot_safety.launch" />
  <include file="$(find arlobot_ros)/launch/arlobot_usbrelay.launch" />
</launch>
