<launch>
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="depth_registration" value="true"/>
  </include>
<!-- From rbx1_vision camshift.launch -->
<node pkg="rbx1_vision" name="camshift" type="camshift.py" output="screen">
  <remap from="input_rgb_image" to="/camera/rgb/image_raw" />
  <rosparam>
    smin: 85
    vmin: 50
    vmax: 254
    threshold: 50
  </rosparam>
</node>
<!-- From rbx1_apps object_tracker.launch -->
<node pkg="rbx1_apps" name="object_tracker" type="object_tracker.py" output="screen">
  <remap from="camera_info" to="/camera/rgb/camera_info" />
  <remap from="cmd_vel" to="mobile_base/commands/velocity" />
  <rosparam>
    rate: 10
    max_rotation_speed: 2.0
    min_rotation_speed: 0.5
    x_threshold: 0.1
    gain: 2.0
  </rosparam>
</node>
</launch>

