<!--Migrated from Turtlebot code to my own, as the Turtlebot instance is no longer maintained,-->
<!--and I wanted to customize it.-->
<launch>
  <!--
    Push the left frontal button labeled as 'LB' to activate cmd_vel publishing.
    Move the left stick around to control the velocity.
   -->

  <node pkg="arlobot_ros" type="arlobot_teleop_joy" name="arlobot_teleop_joystick">
    <param name="scale_angular" value="1.5"/>
    <param name="scale_linear" value="0.5"/>
    <param name="axis_deadman" value="4"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick"/>

</launch>
