/*
 Taken from LCARS jQuery Plugin Website System v2
 LCARS Credit: Josh Messer @ http://www.siriustrader.com/LCARS/jquery.lcars-master/
 At least I hope that is the right link, the original source went down.

 Design concepts from: (and this went down too)
 http://www.lcars47.com/p/lcars-101.html
 Last column, Star Trek: Nemesis colors

 Modeling color after this picture from  Star Trek: Nemesis:
 http://upload.wikimedia.org/wikipedia/en/4/4b/Enterprise-E_LCARS.jpg

 The LCARS jQuery system uses ten colors, but there are only 8 in the pallet
 Also, I am resorting these to match the list
 +--------------------------+
 | LCARS COLOR TABLE        |
 +--------------------------+
 This should be replicated in lcars.js
 @white: #CCDDFF;
 @lightBlue: #5599FF;
 @lightTan: #3366FF;  /* Less Light Blue
 @pink: #cc6699; /* Extra Color, from TNG later series (2nd column)
 @lightRed: #cc6666; /* Extra Color, from TNG later series (2nd column)
 @blue: #0011EE;
 @purple: #000088;
 @tan: #BBAA55;
 @orange: #BB4411;
 @red: #882211;
 */
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'lcars_font';
    src: url('lcars-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'lcars_font';
    src: url(//:) format('no404'), url('lcars-webfont.woff') format('woff'), url('lcars-webfont.ttf') format('truetype'), url('lcars-webfont.svg#webfontMzhP0WIg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
Klingon Font: http://www.evertype.com/fonts/tlh/
Klingon Phrases: http://www.kasper-online.de/en/docs/startrek/klingon.htm
Klingon Font UTF numbers: http://www.wazu.jp/gallery/Test_Klingon.html
*/
@font-face {
    font-family: 'klingon';
    src: url(//:) format('no404'), url('Klingon-pIqaD-HaSta.ttf') format('ttf'), url('Klingon-pIqaD-HaSta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    /* Text Selection turned off to make it more like a user interface!
     http://stackoverflow.com/questions/12315476/how-to-disable-selection-of-text-on-a-web-page */
    /* Note this is a non-standard property, using at my own risk. */
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: lcars_font;
    font-size: 25px;
    font-weight: normal;
    /* Prevents double scroll bars */
    /* syle="ovrerflow: hidden" will prevent any scroll bars on the browser. */
    overflow: hidden;
    /* This helps to make the text easy to read. */
    letter-spacing: 1px;
}

h1 {
    font-weight: normal;
	padding: 0;
	margin: -8px 0 -10px;
}

a:link, a:visited {
    color: #aaF;
    text-decoration: none;
}

a:hover {
    color: #66F;
    text-decoration: none;
    /* No hand pointer, to make it look more like an app or interface */
    cursor: default;
}

/* LINE STYLEING */
.line-middle {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    margin: 0;
    background-color: transparent;
}

.line-middle .top {
    height: 25px;
    width: 100%;
    margin: 0;
	background: url(line.png) no-repeat 0 0;
}

.line-middle .bottom {
    height: 25px;
    width: 100%;
    margin: 0;
	background: url(line.png) no-repeat 0 -31px;
}

/* // LINE STYLEING */

/* CONTENT AND SIDE PANELS */
#up-header {
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
}

#up-header h1 {
    color: #5599FF;
}

#up-text {
    margin: 0;
    padding: 0;
    text-align: left;
}

#up-text p {
    margin: 0 10px;
    padding: 0;
    color: #BB4411;
}

#data-table {
    margin: 10px;
}

.content {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
}

#upper-row {
    display: flex;
}

#lower-row {
    display: flex;
    flex-wrap: nowrap;
}

#upper-button-column {
    background: #3366FF;
    width: 87px;
    min-width: 87px;
}

#lower-button-column {
    background-color: rgb(204, 221, 255);
    width: 87px;
    min-width: 87px;
}

#upper-side-panel {
    color: black;
    width: 87px;
    background: transparent;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

#upper-side-panel li {
    height: auto;
    width: 100%;
    text-align: right;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
}

#upper-side-panel a {
    color: black;
    text-decoration: none;
    font-family: lcars_font;
    font-size: 20px;
}

#lower-side-panel {
    color: black;
    width: 87px;
    background: transparent;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

#lower-side-panel li {
    height: auto;
    width: 100%;
    text-align: right;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
}

#lower-side-panel a {
    color: black;
    text-decoration: none;
    font-family: lcars_font;
    font-size: 20px;
}

#upper-content {
    color: #5599ff;
    width: 100%;
}

#lower-content {
    margin: 10px;
    min-width: 430px;
}

#viewScreenColumn {

}

#mainViewscreenBox {
    /* float: left; */
    text-align: center;
	border: 1px solid #5599FF;
	/* margin: 10px; */
    /* margin-left: 434px; */
}

#screenButtonRow {
    display: flex;
    flex-wrap: wrap;
}

.screenButtonCols {
    width: 20%;
    min-width: 140px;
    margin: 5px;
}

#screenBlinkyCol {
    width: 10%;
    min-width: 40px;
    margin: 5px;
    text-align: left;
}

/* // CONTENT AND SIDE PANEL */
@media screen and (max-device-width: 639px) and (orientation: portrait) {
    #lower-row {
        flex-wrap: wrap;
    }
}

/* Otherwise it does not change on rotation! */
@media screen and (orientation: landscape) {
    #lower-row {
        flex-wrap: nowrap;
    }
}

/* BUTTON STYLING */
.button {
    display: block;
    height: 30px;
    width: 75px;
    color: black;
    padding: 0.3em 1em;
    background-color: #ffcc00;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-align: right;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.B_titleR {
    display: block;
    float: right;
    height: 40px;
    line-height: 40px;
    color: #FFCC00;
    font-size: 32px;
    background: #000;
    padding: 2px;
    margin-top: -0.2em;
}

.B_titleL {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #FFCC00;
    font-size: 32px;
    background: #000;
    padding: 2px;
    margin-top: -0.2em;
}

.B_blankL {
    color: #000;
    background: #000;
    display: block;
    padding: 10px;
    height: 40px;
    margin-top: -0.3em;
    margin-left: 0;
    width: 100%;
}

.B_blankR {
    color: #000;
    background: #000;
    display: block;
    padding: 10px;
    height: 40px;
    margin-top: -0.3em;
    margin-left: -1em;
    width: 100%;
}

.RR {
    border-radius: 20px;
}

.SR {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.RS {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.L {
    width: 100px;
}

.B_title a:link, .B_title a:visited, .B_title a:hover {
    color: #fc0;
    text-decoration: none;
}

.button a:link, .button a:visited, .button a:hover {
    color: black;
    text-decoration: none !important;
}

a.button:link, a.button:visited, a.button:hover {
    color: black;
    text-decoration: none !important;
}

/* // BUTTON STYLING */

/* INPUT STYLING */
input {
    background: transparent;
    color: white;
    margin: 0;
    font-size: 25px;
    border: 2px solid #ff9900;
    font-family: lcars_font;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

input:focus {
    background: #ff9900;
    color: black;
}

textarea {
    background: transparent;
    color: white;
    margin: 0;
    font-size: 25px;
    border: 2px solid #ff9900;
    font-family: lcars_font;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

textarea:focus {
    background: #ff9900;
    color: black;
}

input[type=button], input[type=submit], button {
    background: #ff9900;
    font-family: lcars_font;
    font-size: 25px;
    height: 35px;
    line-height: 35px;
    border: none;
    text-align: right;
    color: black;
    padding-left: 2em;
    padding-right: 1em;
    border-radius: 15px;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    border-radius: 30px;
}

/* FOR JAVASCRIPT CHANGES */
.lightUpButton {
    background-color: #5599FF !important;
}

.pressOnButton {
    background-color: #000088 !important;
}

.highlight {
    background-color: #cc6666;
    padding: 2px;
    /*	.rounded(10px); /* Not sure what this is for */
}

.highlight .highlight-inner {
    background-color: #cc6666;
    border: 2px solid black;
    padding: 2px;
    /*		.rounded(10px);  /* Not sure what this is for */
}

/* Sliders */
#travelSpeedSlider, #rotateSpeedSlider, #viewAngleSlider {
    width: 380px;
    margin: 0 0 20px 0;
    font-size: 10px;
}

#travelSpeedSlider .ui-slider-range {
    background: #3366FF;
}

#travelSpeedSlider .ui-slider-handle {
    border-color: #BBAA55;
}

#rotateSpeedSlider .ui-slider-range {
    background: #0011EE;
}

#rotateSpeedSlider .ui-slider-handle {
    border-color: #BBAA55;
}

#viewAngleSlider .ui-slider-range {
    background: #000088;
}

#viewAngleSlider .ui-slider-handle {
    border-color: #BBAA55;
}

#statusLight {
    width: 10px;
    height: 10px;
    background: #007927;
    border-radius: 5px;
    position: absolute;
    margin: 0 25px 0 10px;
}

#statusLight2 {
    width: 10px;
    height: 10px;
    background: #BB4411;
    border-radius: 5px;
    position: absolute;
    margin: 0 25px 0 30px;
}
