[arloweb]
;This is the folder where these scripts are installed:
scriptFolder = "/home/chrisl8/arloweb"
;This is the user that the scripts should be run as:
rosUser = chrisl8
; NOTE that you will need entries in /etc/sudoers to allow
; whatever user your web server runs under to run these scripts!
; I use XAMPP, which runs as daemon,
; so I have this line in /etc/sudoers:
;daemon ALL = (chrisl8) NOPASSWD: /home/chrisl8/arloweb/startROS.sh, /home/chrisl8/arloweb/stopROS.sh, /home/chrisl8/arloweb/runROSthings.sh
