<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node pkg="metatron_id" type="metatron_id.py" name="metatron_id" respawn="true" >
    <rosparam command="load" file="$(env HOME)/metatron_private_settings.yaml" />
  </node>
  <include file="$(find metatron_babelfish)/launch/metatron_babelfish.launch" />
  <include file="$(find arlobot_bringup)/launch/minimal.launch" />
  <param name="/joystick/dev" value="/dev/input/js0" />
  <include file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch" />
</launch>
