<?xml version="1.0"?>
<!-- Copied from hector_exploration_node in order to include my own costmap.yaml file. -->

<launch>
  
  <!--launch-prefix="gdb -ex run ++args"-->

  <node pkg="hector_exploration_node" type="exploration_planner_node" name="hector_exploration_node" output="screen">

    <rosparam file="$(find arlobot_explore)/config/costmap.yaml" command="load" />

  </node>
</launch>
