[Desktop Entry]
Encoding=UTF-8
Name=ArloBot
GenericName=ArloBot
Comment=Start the robot
Exec=lxterminal --command "~/catkin_ws/src/Metatron/scripts/arlobotXwindows.sh"
Icon=~/catkin_ws/src/Metatron/node/webserver/public/icons/mstile-70x70.png
Type=Application
Path=${HOME}/catkin_ws/src/Metatron/scripts/
Terminal=false
