<launch>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <!-- rgb_processing is needed for rtabmap -->
    <arg name="rgb_processing"                  value="true"/>
    <arg name="ir_processing"                   value="false"/>
    <arg name="depth_processing"                value="false"/>
    <arg name="depth_registered_processing"     value="false"/>
    <arg name="disparity_processing"            value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="scan_processing"                 value="true"/>
  </include>
</launch>
