<launch>
  <!-- You must start the 3D sensor before you start this -->
  <!-- roslaunch arlobot_navigation 3dsensor_only.launch -->

  <include file="$(find arlobot_bringup)/launch/xv11_remap_for_dual_use.launch" />
  <!-- <node name="laser_filter" pkg="arlobot_navigation" type="laser_filter.py" /> -->

  <include file="$(find turtlebot_navigation)/launch/includes/gmapping/gmapping.launch.xml"/>
  <param name="slam_gmapping/delta" value="0.01"/>

  <include file="$(find arlobot_navigation)/launch/includes/move_base_wXV11.launch.xml"/>

</launch>
