<launch>
  <!-- You must start the 3D sensor befor you start this -->
  <!-- roslaunch arlobot_navigation 3dsensor_only.launch -->

  <include file="$(find turtlebot_navigation)/launch/includes/gmapping/gmapping.launch.xml"/>
  <param name="slam_gmapping/delta" value="0.01"/>

  <include file="$(find arlobot_navigation)/launch/includes/move_base_wScanseSweep.launch.xml"/>

</launch>
