<!-- This will only work if Metatron & Alrobot are already running -->
<launch>
  <include file="$(find arlobot_navigation)/launch/gmapping_demo_xv11DWAonly.launch" />
  <include file="$(find arlobot_explore)/launch/exploration_planner.launch" />
  <include file="$(find arlobot_explore)/launch/arlobot_explore.launch" />
</launch>
