<!--Accordian info: http://valor-software.com/ng2-bootstrap/-->
<div id="decorative-border">
    <h1 style="text-align: center; font-weight: bold" *ngIf="arlobotSvc.webModel.status === 'Robot offline.'">Robot is Offline!</h1>
    <p id="status-line" *ngIf="arlobotSvc.webModel.status != 'Robot offline.'">{{arlobotSvc.webModel.status}}&nbsp;&nbsp;{{arlobotSvc.webModel.behaviorStatus}}
        <span style="float: right;">
        <button type="button" class="btn btn-danger" *ngIf="!arlobotSvc.webModel.haltRobot"
                (click)="sendSpecificSignalToArlobot('haltRobot')">Emergency STOP
        </button>
        <button type="button" class="btn btn-success" *ngIf="arlobotSvc.webModel.haltRobot"
                (click)="sendSpecificSignalToArlobot('unHaltRobot')">Resume
        </button>
            </span>
    </p>
    <accordion [closeOthers]="oneAtATime" *ngIf="arlobotSvc.webModel.status != 'Robot offline.'">
        <accordion-group heading="Status"
                         [isOpen]="status.isFirstOpen"
                         [isDisabled]="status.isFirstDisabled">
            <button type="button" class="btn btn-primary">Battery <span class="badge">{{arlobotSvc.webModel.laptopBatteryPercentage}}%</span>
            </button>
            <button type="button" class="btn btn-default">Fully Charged <span class="badge">{{arlobotSvc.webModel.laptopFullyCharged | boolToYesNo}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-danger': arlobotSvc.webModel.pluggedIn}"
                    (click)="status.openStartup = !status.openStartup">Plugged In <span class="badge">{{arlobotSvc.webModel.pluggedIn | boolToYesNo}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-danger': arlobotSvc.webModel.doorsOpen}"
                    (click)="status.openStartup = !status.openStartup">Dangerous Doors Open <span class="badge">{{arlobotSvc.webModel.doorsOpen | boolToYesNo}}</span>
            </button>
            <button type="button" class="btn" *ngIf="arlobotSvc.webModel.rosParameters" [ngClass]="{'btn-warning': arlobotSvc.webModel.rosParameters.explorePaused}"
                    (click)="status.openNavTab = !status.openNavTab">Explore Paused <span class="badge">{{arlobotSvc.webModel.rosParameters.explorePaused | boolToYesNo}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-success':  arlobotSvc.webModel.mapName !== ''}"
                    (click)="status.openNavTab = !status.openNavTab">Map <span class="badge"><span
                    *ngIf="arlobotSvc.webModel.mapName === ''">None</span>{{arlobotSvc.webModel.mapName}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-warning': arlobotSvc.webModel.autoExplore}"
                    (click)="status.openNavTab = !status.openNavTab">Auto Exploring <span class="badge">{{arlobotSvc.webModel.autoExplore | boolToYesNo}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-warning': arlobotSvc.webModel.debugging}"
                    (click)="sendSpecificSignalToArlobot('toggleDebug')">Debugging <span class="badge">{{arlobotSvc.webModel.debugging | boolToYesNo}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-success': arlobotSvc.webModel.cameraOn}"
                    (click)="sendSpecificSignalToArlobot('toggleCamera')">Camera <span class="badge">{{arlobotSvc.webModel.cameraOn | boolToOnOff}}</span>
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-success': arlobotSvc.webModel.masterRelayOn}"
                    (click)="sendSpecificSignalToArlobot('toggleMasterRelay')">Master Relay <span class="badge">{{arlobotSvc.webModel.masterRelayOn | boolToOnOff}}</span>
            </button>
        </accordion-group>
        <accordion-group heading="Telemetry">
            <p *ngIf="!arlobotSvc.webModel.ROSisRunning">These do not work until ROS is Running.</p>
            <div *ngIf="arlobotSvc.webModel.ROSisRunning">
            <span *ngFor='let entry of arlobotSvc.webModel.rosTopicItems'>
                <button *ngIf="[false, true].indexOf(entry.status) != -1" type="button" class="btn"
                        [ngClass]="entry.btnClass">{{entry.fancyName}} <span class="badge">{{entry.status}}</span>
                </button>
                <button *ngIf="[false, true].indexOf(entry.status) == -1" type="button" class="btn"
                        [ngClass]="entry.btnClass">{{entry.fancyName}} <span class="badge">{{entry.status}}</span>
                </button>
            </span>
            </div>
        </accordion-group>
        <accordion-group heading="Relays">
            <span *ngFor="let relay of arlobotSvc.webModel.relays">
            <button type="button" class="btn" [ngClass]="{'btn-success': relay.relayOn}"
                    (click)="sendDataToArlobot('toggleRelay', relay.number)"><span *ngIf="relay.name !== 'empty'">{{relay.fancyName}}</span><span
                    *ngIf="relay.name === 'empty'">Relay {{relay.number}}</span> <span class="badge">{{relay.relayOn | boolToOnOff}}</span></button>
            </span>
        </accordion-group>
        <accordion-group heading="Behavior">
            <div class="lcarish-toggle-button" id="idle-timeout-button"
                 (click)="updateWebModelKey('idleTimeout', 'stopIdleTimer', 'startIdleTimer')">
                <label class="toggler" [class.brightly-positive-text]="!arlobotSvc.webModel.idleTimeout">Never</label>
                <div class="toggle toggle-off" [class.toggle-on]="arlobotSvc.webModel.idleTimeout">
                    <input type="checkbox" class="check" [ngModel]="arlobotSvc.webModel.idleTimeout"/><span
                        class="b switch">Idle</span>
                </div>
                <label class="toggler" [class.brightly-negative-text]="arlobotSvc.webModel.idleTimeout">Timeout</label>
            </div>
            <div class="lcarish-toggle-button" id="talk-bequiet-button"
                 (click)="updateWebModelKey('beQuiet', 'talk', 'beQuiet')">
                <label class="toggler" [class.brightly-positive-text]="!arlobotSvc.webModel.beQuiet">Talk</label>
                <div class="toggle toggle-off" [class.toggle-on]="arlobotSvc.webModel.beQuiet">
                    <input type="checkbox" class="check" [ngModel]="arlobotSvc.webModel.beQuiet"/><span
                        class="b switch">Sound</span>
                </div>
                <label class="toggler" [class.brightly-negative-text]="arlobotSvc.webModel.beQuiet">Quiet</label>
            </div>
            <div>
                <form id='saySomethingForm' name='saySomethingForm'>
                    <label for="saySomething"></label>
                    <input type="text" name="saveMap" id="saySomething" style="line-height: 29px;"
                           placeholder="What should I say?" [(ngModel)]="newThingToSay"/>
                    <button type="button"
                            class="btn btn-primary" style="float: left;"
                            (click)="sendDataToArlobot('tts', newThingToSay)">Speak
                    </button>
                </form>
            </div>
            <button type="button" class="btn btn-success"
                    *ngIf="arlobotSvc.webModel.ROSisRunning && !arlobotSvc.webModel.colorFollowerRunning"
                    (click)="sendSpecificSignalToArlobot('startColorFollower')">Start Color Follower
            </button>
            <button type="button" class="btn btn-danger" *ngIf="arlobotSvc.webModel.colorFollowerRunning"
                    (click)="sendSpecificSignalToArlobot('stopColorFollower')">Stop Color Follower
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-warning': arlobotSvc.webModel.neoPixelsOn}"
                    (click)="sendSpecificSignalToArlobot('arduino')">Blinky Lights
            </button>
        </accordion-group>
        <accordion-group heading="Sensors" *ngIf="arlobotSvc.webModel.rosParameters">
            <p *ngIf="!arlobotSvc.webModel.ROSisRunning">These do not work until ROS is Running.</p>
            <div *ngIf="arlobotSvc.webModel.ROSisRunning">
                <div class="lcarish-toggle-button" id="monitor-ac-button"
                     (click)="updaterosParametersKey('monitorACconnection', 'ignoreAC', 'monitorAC')">
                    <label class="toggler"
                           [class.brightly-positive-text]="arlobotSvc.webModel.rosParameters.monitorACconnection">Monitor</label>
                    <div class="toggle toggle-off"
                         [class.toggle-on]="!arlobotSvc.webModel.rosParameters.monitorACconnection">
                        <input type="checkbox" class="check"
                               [ngModel]="!arlobotSvc.webModel.rosParameters.monitorACconnection"/><span
                            class="b switch">AC</span>
                    </div>
                    <label class="toggler"
                           [class.brightly-negative-text]="!arlobotSvc.webModel.rosParameters.monitorACconnection">Ignore</label>
                </div>
                <div class="lcarish-toggle-button" id="monitor-infrared-button"
                     (click)="updaterosParametersKey('ignoreIRSensors', 'monitorIR', 'ignoreIR')">
                    <label class="toggler"
                           [class.brightly-positive-text]="!arlobotSvc.webModel.rosParameters.ignoreIRSensors">Watch</label>
                    <div class="toggle toggle-off"
                         [class.toggle-on]="arlobotSvc.webModel.rosParameters.ignoreIRSensors">
                        <input type="checkbox" class="check"
                               [ngModel]="arlobotSvc.webModel.rosParameters.ignoreIRSensors"/><span
                            class="b switch">Infrared</span>
                    </div>
                    <label class="toggler"
                           [class.brightly-negative-text]="arlobotSvc.webModel.rosParameters.ignoreIRSensors">Ignore</label>
                </div>
                <div class="lcarish-toggle-button" id="monitor-cliff-button"
                     (click)="updaterosParametersKey('ignoreCliffSensors', 'monitorCliff', 'ignoreCliff')">
                    <label class="toggler"
                           [class.brightly-positive-text]="!arlobotSvc.webModel.rosParameters.ignoreCliffSensors">Watch</label>
                    <div class="toggle toggle-off"
                         [class.toggle-on]="arlobotSvc.webModel.rosParameters.ignoreCliffSensors">
                        <input type="checkbox" class="check"
                               [ngModel]="arlobotSvc.webModel.rosParameters.ignoreCliffSensors"/><span
                            class="b switch">Cliff</span>
                    </div>
                    <label class="toggler"
                           [class.brightly-negative-text]="arlobotSvc.webModel.rosParameters.ignoreCliffSensors">Ignore</label>
                </div>
                <div class="lcarish-toggle-button" id="monitor-floor-button"
                     (click)="updaterosParametersKey('ignoreFloorSensors', 'monitorFloor', 'ignoreFloor')">
                    <label class="toggler"
                           [class.brightly-positive-text]="!arlobotSvc.webModel.rosParameters.ignoreFloorSensors">Watch</label>
                    <div class="toggle toggle-off"
                         [class.toggle-on]="arlobotSvc.webModel.rosParameters.ignoreFloorSensors">
                        <input type="checkbox" class="check"
                               [ngModel]="arlobotSvc.webModel.rosParameters.ignoreFloorSensors"/><span
                            class="b switch">Floor</span>
                    </div>
                    <label class="toggler"
                           [class.brightly-negative-text]="arlobotSvc.webModel.rosParameters.ignoreFloorSensors">Ignore</label>
                </div>
                <div class="lcarish-toggle-button" id="monitor-ping-button"
                     (click)="updaterosParametersKey('ignoreProximity', 'monitorProximity', 'ignoreProximity')">
                    <label class="toggler"
                           [class.brightly-positive-text]="!arlobotSvc.webModel.rosParameters.ignoreProximity">Watch</label>
                    <div class="toggle toggle-off"
                         [class.toggle-on]="arlobotSvc.webModel.rosParameters.ignoreProximity">
                        <input type="checkbox" class="check"
                               [ngModel]="arlobotSvc.webModel.rosParameters.ignoreProximity"/><span
                            class="b switch">PING</span>
                    </div>
                    <label class="toggler"
                           [class.brightly-negative-text]="arlobotSvc.webModel.rosParameters.ignoreProximity">Ignore</label>
                </div>
            </div>
        </accordion-group>
        <accordion-group [isOpen]="status.openStartup">
            <div accordion-heading>
                Startup/Shutdown - <span style="font-weight: bold;" *ngIf="arlobotSvc.webModel.ROSisRunning">ROS is Running.</span>
                <span style="font-weight: bold;" *ngIf="!arlobotSvc.webModel.ROSisRunning && !arlobotSvc.webModel.ROSstart">ROS Stopped.</span> <span style="font-weight: bold;" *ngIf="!arlobotSvc.webModel.ROSisRunning && arlobotSvc.webModel.ROSstart">Please wait, ROS is starting . . .</span>
            </div>
            <button type="button" class="btn btn-success" *ngIf="!arlobotSvc.webModel.ROSisRunning && !arlobotSvc.webModel.ROSstart"
                    (click)="sendSpecificSignalToArlobot('startROS')">Start ROS
            </button>
            <button type="button" *ngIf="!arlobotSvc.webModel.ROSisRunning && arlobotSvc.webModel.ROSstart">
                Starting...
            </button>
            <button type="button" class="btn btn-danger" *ngIf="arlobotSvc.webModel.ROSisRunning"
                    (click)="sendSpecificSignalToArlobot('stopROS')">Stop ROS
            </button>
            <button type="button" class="btn" [ngClass]="{'btn-warning': arlobotSvc.webModel.doorsOpen}"
                    (click)="sendSpecificSignalToArlobot('markDoorsClosed')">
                Set All Doors Closed
            </button>
            <button type="button" class="btn btn-danger" (click)="sendSpecificSignalToArlobot('exit')">
                Reset Robot Server
            </button>
            <div class="lcarish-toggle-button" id="unplug-yourself-button"
                 (click)="updateWebModelKey('unplugYourself', 'doNotUnplugYourself', 'unplugYourself')">
                <label class="toggler" [class.brightly-positive-text]="!arlobotSvc.webModel.unplugYourself">No</label>
                <div class="toggle toggle-off" [class.toggle-on]="arlobotSvc.webModel.unplugYourself">
                    <p>
                        <input type="checkbox" class="check" [ngModel]="arlobotSvc.webModel.unplugYourself"/><span
                            class="b switch">Unplug</span>
                    </p>
                </div>
                <label class="toggler" [class.brightly-negative-text]="arlobotSvc.webModel.unplugYourself">Yes</label>
            </div>
        </accordion-group>
        <accordion-group heading="Robot Service Log">
            <div id="statusScrollBox" [innerHTML]="arlobotSvc.webModel.scrollingStatus"></div>
            <div style="margin-top: 10px;">
                <button *ngIf="arlobotSvc.webModel.logStreamerRunning" type="button"
                        class="btn btn-primary"
                        (click)="goToLogStreamer()">View ROS Log Streamer
                </button>
                <button type="button" class="btn" [ngClass]="{'btn-success': arlobotSvc.webModel.logStreamerRunning}"
                        (click)="sendSpecificSignalToArlobot('toggleLogStreamer')">ROS Log Streamer <span class="badge">{{arlobotSvc.webModel.logStreamerRunning | boolToOnOff}}</span>
                </button>
            </div>
        </accordion-group>
        <accordion-group [isOpen]="status.openNavTab">
            <div accordion-heading>
                Navigation<span style="font-weight: bold;" *ngIf="arlobotSvc.webModel.mapName !== ''"> - Map loaded: <span style="color: #337ab7;"> {{ arlobotSvc.webModel.mapName }} </span></span>
            </div>
            <div *ngIf="arlobotSvc.webModel.mapName === '' && !arlobotSvc.webModel.autoExplore">
                <button type="button" class="btn btn-warning" (click)="status.showMapPicker = true">
                    Load Map
                </button>
                &nbsp;or&nbsp;
                <button type="button" class="btn btn-primary" (click)="sendDataToArlobot('setMap', 'Explore!')">
                    Auto Explore
                </button>
            </div>
            <button type="button" class="btn btn-success"
                    *ngIf="!arlobotSvc.webModel.ROSisRunning && (arlobotSvc.webModel.mapName !== '' || arlobotSvc.webModel.autoExplore)"
                    (click)="sendSpecificSignalToArlobot('clearMap')">
                Clear Map/Cancel Explore
            </button>
            <div class="lcarish-toggle-button" id="pause-explore-button" *ngIf="arlobotSvc.webModel.mapName === ''"
                 (click)="updateWebModelKey('pauseExplore', 'unPauseAutoExplore', 'pauseAutoExplore')">
                <label class="toggler" [class.brightly-positive-text]="!arlobotSvc.webModel.pauseExplore">Run</label>
                <div class="toggle toggle-off" [class.toggle-on]="arlobotSvc.webModel.pauseExplore">
                    <input type="checkbox" class="check" [ngModel]="arlobotSvc.webModel.pauseExplore"/><span
                        class="b switch">Explore</span>
                </div>
                <label class="toggler" [class.brightly-negative-text]="arlobotSvc.webModel.pauseExplore">Pause</label>
            </div>
            <div *ngIf="status.showMapPicker && arlobotSvc.webModel.mapName === '' && !arlobotSvc.webModel.autoExplore">
                <h3>Pick a map to load:</h3>
                <ul>
                    <span *ngFor="let item of arlobotSvc.webModel.mapList"><li *ngIf="item !== 'Explore!'"><button
                            type="button" class="btn btn-primary"
                            (click)="sendDataToArlobot('setMap', item)">{{item}}</button></li></span>
                </ul>
            </div>
            <div *ngIf="arlobotSvc.webModel.mapName !== '' && !arlobotSvc.webModel.autoExplore && arlobotSvc.webModel.ROSisRunning && arlobotSvc.webModel.wayPoints.length > 0">
                <h3>Send Robot To a Destination:</h3>
                <ul>
                    <span *ngFor="let item of arlobotSvc.webModel.wayPoints"><li><button type="button"
                                                                                         class="btn btn-primary"
                                                                                         (click)="sendDataToArlobot('gotoWayPoint', item)">{{item}}</button></li></span>
                </ul>
            </div>
            <div *ngIf="arlobotSvc.webModel.mapName !== '' && !arlobotSvc.webModel.autoExplore && arlobotSvc.webModel.ROSisRunning">
                <form id='saveNewWaypointForm' name='saveNewWaypointForm'>
                    <label for="saveNewWaypoint"></label>
                    <input type="text" name="saveMap" id="saveNewWaypoint" style="line-height: 29px;"
                           placeholder="Enter name for current location . . ." [(ngModel)]="newWaypointName"/>
                    <button type="button"
                            class="btn btn-primary" style="float: left;"
                            (click)="sendDataToArlobot('setWayPoint', newWaypointName)">Save Current Location
                    </button>
                </form>
            </div>
            <div *ngIf="arlobotSvc.webModel.autoExplore && arlobotSvc.webModel.ROSisRunning">
                <form id='saveMapForm' name='saveMapForm'>
                    <label for="saveMap"></label>
                    <input type="text" name="saveMap" id="saveMap" style="line-height: 29px;"
                           placeholder="Enter new map name . . ."
                           [(ngModel)]="newMapName"/>
                    <button type="button"
                            class="btn btn-primary" style="float: left;"
                            (click)="sendDataToArlobot('saveMap', newMapName)">Save Map
                    </button>
                </form>
            </div>
            <p>To make a new map, click on "Auto Explore". If you want to guide the robot by hand, just set 'Explore' to
                Pause first and the automatic exploration will not happen. Then you can guide the robot either by
                setting destinations in RVIZ, using the remote control feature, or even a joystick or keyboard teleop if
                you have those working.</p>
            <p>When you are satisfied with your map you will need to save it.</p>
            <p>The only way to load a map after making it, or to load a new map, is to Stop ROS and Start ROS again. ROS
                has no ability to switch from SLAM to AMCL nor to swap maps in AMCL.</p>
            <p *ngIf="arlobotSvc.webModel.mapName !== '' && !arlobotSvc.webModel.autoExplore">If you create a
                destination waypoint called "initial" that location will be set as the current robot location whenever
                the map is loaded.</p>
        </accordion-group>
        <accordion-group heading="Remote Control">
            <button *ngIf="!arlobotSvc.webModel.ROSisRunning" type="button" class="btn btn-danger"
                    (click)="status.openStartup = true">ROS Stopped
            </button>
            <button *ngIf="arlobotSvc.webModel.doorsOpen && arlobotSvc.webModel.ROSisRunning" type="button" class="btn"
                    [ngClass]="{'btn-danger': arlobotSvc.webModel.doorsOpen}"
                    (click)="status.openStartup = true">Dangerous Doors Open <span class="badge">{{arlobotSvc.webModel.doorsOpen | boolToYesNo}}</span>
            </button>
            <!--https://github.com/JorgeArino/virtualjoystick.js-->
            <button *ngIf="!arlobotSvc.webModel.doorsOpen && arlobotSvc.webModel.ROSisRunning" type="button"
                    class="btn btn-primary"
                    (click)="virtualJoystickFunction()">
                Start virtualJoystick
            </button>
            {{ joystickOutput }}
            <span id="virtual-joystick-result"></span>
            <div id="virtual-joystick-container"></div>
        </accordion-group>
        <accordion-group>
            <div accordion-heading>
                Video - <span style="font-weight: bold;" *ngIf="arlobotSvc.webModel.cameraOn">Camera ON</span>
                <span *ngIf="!arlobotSvc.webModel.cameraOn">Camera Off</span>
            </div>
            <button type="button" class="btn" [ngClass]="{'btn-success': arlobotSvc.webModel.cameraOn}"
                    (click)="sendSpecificSignalToArlobot('toggleCamera')">Camera <span class="badge">{{arlobotSvc.webModel.cameraOn | boolToOnOff}}</span>
            </button>
            <img id="videoFeed" alt="Video feed" [src]="arlobotSvc.webModel.videoSource" style="width: 100%;">
        </accordion-group>
        <accordion-group heading="Old Web Site">
            <a href="old-site/" class="btn btn-primary" style="color: white;">Old Home Page</a>
            <a href="old-site/remote-control.html" class="btn btn-primary" style="color: white;">Old Remote Control
                Page</a>
        </accordion-group>
    </accordion>
    <p id="footer-line"><a href="https://github.com/chrisl8/ArloBot">https://github.com/chrisl8/ArloBot</a></p>
</div>
