<launch>
  <arg name="usb_port" value="$(optenv RPLIDAR_USB_PORT /dev/ttyUSB1)"/>
  <arg name="baudrate" value="$(optenv RPLIDAR_BAUDRATE 256000)"/>
    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="$(arg usb_port)"/>
      <param name="serial_baudrate"     type="int"    value="$(arg baudrate)"/>
      <param name="frame_id"            type="string" value="rplidar"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
      <param name="scan_mode"           type="string" value="Sensitivity"/>
    </node>
</launch>
