name: Node Script Tests

on:
  push:
    branches: [ jazzy ]
    paths:
      - "node/**"
  pull_request:
    branches: [ jazzy ]
    paths:
      - "node/**"
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        required: false
        description: 'Manually run Node tests'
jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'npm'
        cache-dependency-path: ./node/package.json
    - run: npm update
      working-directory: node
    - run: npm run build --if-present
      working-directory: node
    - name: Copy required config files for testing
      run: |
        mkdir -p $HOME/.arlobot/rosmaps $HOME/ros2_ws/src $HOME/.arlobot/status
        touch $HOME/.arlobot/rosmaps/dummymap.data $HOME/.arlobot/rosmaps/dummymap.posegraph
        cp ${{ github.workspace }}/scripts/dotarlobot/personalDataForBehavior.json $HOME/.arlobot/
        ln -s ${{ github.workspace }} $HOME/ArloBot
    - run: npm test
      working-directory: node
